:root {
  --font-family-inter: "Inter", Arial, sans-serif;
  --font-family-noto: "Noto Serif", Times New Roman, serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: var(--font-family-inter);
  font-size: 16px;
  line-height: 20px;
  width: clamp(1100px, 100%, 1440px);
  margin: 0 auto;
}

.header {
  background-color: #fff;
}

